
$color-alpha: #12e09f;
$color-beta: #e01258;
$color-gamma: #f5f5f5;
$color-psi: #1f1f1f;
$color-omega: #fff;
$color-bluedark: #364e72;
$color-bluedark2: #12243e;
$color-bluedark3: rgba(#12243e, 0.47);
