.text-center {
    text-align: center!important;
    top: 30%;
  left: 30%;
}
.cities h1 {
    font-size: calc(1.375rem + 1.5vw);
}
.cities a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 1px 1px 5px rgba(#fcfcfc, 0.28);



}
.column {
  float: left;
  width: 15%;
  height: 30%;
  padding: 0 10px;
}
.titel{
  text-align: center;
  text-shadow: 1px 1px 5px rgba(#000000, 0.28);
}

.Cards{
    display:flex;
    justify-content: center;

}

.media{
    padding: 10px;
    width: 200px;
    margin: auto;
}
