#header {
    background-image: url(https://s3.eu-west-3.amazonaws.com/sport-finder.image/images/cache/full_hd/background/matteo-paganelli-48129-dark.jpg);    }
  #header {
  background-color: #323232;
  text-align: left;
  height: auto;
  background-attachment: scroll;
  background-size: cover;
  background-origin: initial;
  background-clip: initial;
  background-position-x: 50%;
  background-position-y: 60%;
}
#header {
  color: #fff;
  display: block;
}

#header-content {
  min-height: 100px;
  min-height: 100px;
  height: calc(100vh - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
} 
 
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
