// @import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");


.content {
  font-size: 30px;
  border-radius: 4px;
  height: 100%;
  padding: 3rem;
  text-align: center; 
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); 
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  // display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-radius: 4px;
  height: 100%;
  padding: 5rem;
}
 

p{
  text-align: center; 
  font-size: 15px;
}

